body {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4dac45;
    height: 50px;
}

.menu {
    display: flex;
    gap: 30px;
}

.selected {
    color: aliceblue;
}

.succes {
    background-color: green;
    list-style-type: none;
}

.error {
    background-color: red;
    list-style-type: none;
}